<?xml version="1.0"?>

<launch>

<arg name="record" default="False" doc="Record results in a bag file"/>
<arg name="play" default="False" doc="Play recorded bag file"/>
<arg name="bagfile" default="" doc="Play recorded bag file"/>

<include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch"/>
<include file="$(find turtlebot3_teleop)/launch/turtlebot3_teleop_key.launch"/>
	
<node name="cartographer_offline_node" pkg="cartographer_ros"
type="cartographer_node" args="
  -configuration_directory $(find cartographer_ros)/configuration_files
  -configuration_basename Turtlebot.lua"
output="screen">
</node>

<node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
type="cartographer_occupancy_grid_node" args="-resolution 0.05" >
</node>

<node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot3_slam)/rviz/turtlebot3_slam.rviz" />

<group if="$(arg play)">
  <node pkg="rosbag" type="play" name="rosbag_play" args="$(env HOME)/ROS_workshop/data/$(arg bagfile) /cmd_vel:=/cmd_vel_dev_null"/>
  <param name="use_sim_time" value="true"/>
</group>

<group if="$(arg record)">
  <node pkg="rosbag" type="record" name="rosbag_record" args="record -a -o $(env HOME)/ROS_workshop/data/"/>
  <param name="use_sim_time" value="false"/>
</group>

  </node>
</launch>
